<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<h1><%= title %></h1>
		<p>You successfully created a Nodified URL</p>
		<p><%= newUrl %></p>
		<p> now points to </p>
		<p><%= oldUrl %></p>
	</body>
</html>