doctype
html
    head
        title= "Neudesic - NeURL"
        link(rel="stylesheet", type="text/css", href="/css/style.css")

    body
        #header
            .search
                .main-container
                    .search-box
                        form(method='post', action='/search/')
                            input#search-phrase(type="text", name="q")
                            input#submit-search(type="submit", value="")
            .main-container
                img.logo(src="/img/logo.png")      
                .description                    
                    span.title="NeURL"
                    br
                    span.text="The URL Shortener"
                ol.nav
                    li: a(href="/")="HOME"

        #content
            .main-container
                block content

        script(type='text/javascript', src='/js/knockout.js')
        script(type="text/javascript", src="/js/jquery-1.8.2.min.js")

        block scripts