body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f3f7f8;
}

a {
  color: #00B7FF;
}

/* Globals */
body {
    margin: 0;
}

.main-container {
    width:  900px;
    margin-left: auto;
    margin-right: auto;
}

label {
    color: #0e385e;
    font-weight: bold;
    display: block;
    float: left;
    line-height: 29px;
    vertical-align: middle;
}

input.t {
    border: 1px solid #0e385e;
    height: 20px;
}

input.b {
    border: 2px solid #0e385e;
    background-color: #1878a8;
    color: #fff;
    font-weight: bold;
    padding:  5px 15px 5px 15px;
}

.clear-float {
    clear: both;
    height: 1px;
}

table td {
    padding: 4px 15px 4px 15px;
    border: 1px solid #000;
    margin: 0;
}
table thead td {
    font-weight: bold;
}


/* Header */
#header {
    background-image: url(/img/header_bg.png);
    background-position: center;
    height: 240px;
}

#header .search {
    background-image: url(/img/top_banner.png);
    height: 71px;
}

#header .main-container {
    margin-top: 30px;
    vertical-align: top;
    color: #fff;
}

#header .main-container img.logo {
    float: left;
}

#header .main-container .description {
    float: left;
    margin-left: 15px;
    margin-top:  -4px;
}

#header .main-container .description .title {
    font-size: 24px;
}

#header .main-container .description .text {
    font-size: 14px;
}

#header .main-container ol.nav {
    list-style-type: none;
    margin: 0;
    float: right;
    display: block;
    font-size: 18px;  
    margin-top:  10px; 
}

#header .main-container ol.nav li {
    float: left;
    display: block;
    margin-left: 25px;
}

#header .main-container ol.nav li a {
    color: #fff;
    font-style: normal;
    text-decoration: none;
}

/* Search */
.search-box {
    float: right;
    margin-top: 20px;
}

.search-box #search-phrase {
    background-color: #0775b9;
    border: none;
    height: 22px;
    width:  300px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
}

.search-box #submit-search {
    border: none;
    background-image: url(/img/search.png);
    background-color: rgba(0,0,0,0);
    height: 23px;
    width:  23px;
    cursor: pointer;
}


/* Forms */
.form {
    
}

.form.create {
    width:  500px;
}

.form.create label {
    width: 60px;
}

.form.create #url {
    width:  430px;
    float: right;
}

.form.create #create {
    margin-top: 5px;
    float: right;
}